/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main  */
.main {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

/* header  */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(27, 27, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main-header h1 {
  color: aliceblue;
  padding: 1rem;
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
}

/* sidebar */
.sidebar {
  width: 25%;
  background-color: aliceblue;
}

.sidebar {
  position: fixed;
  top: 60px; /* Below the header */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  z-index: 999;
}

.sidebar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

.sidebar ul li {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}

.sidebar ul li:hover {
  background-color: rgb(180, 189, 198);
}

/* main content  */
.page-content {
  width: 75%;
  margin-left: 250px; /* Sidebar width */
  margin-top: 60px; /* Header height */
  padding: 20px;
  width: calc(100% - 250px);
  height: calc(100vh - 60px);
  background-color: #f4f4f4;
}

.page-content ul {
  flex-direction: row;
}

/* bookly */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-30 {
  flex: 0 1 30%;
}

/* bookly header */

.bookly-head h2 {
  color: #fbf053;
  font-size: 40px;
}

.bookly-ul li h3 {
  margin: 10px 0;
}

.bookly-head {
  background-color: #377e80;
  text-align: center;
  padding: 16px 0;
}

.bookly-ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;
}

.bookly-ul li {
  display: flex;
  flex-direction: column;
  /* flex: 0 1 24%; */
  align-items: center;
  margin: 1rem;
  background-color: white;
  padding: 2rem;
}

.bookly-ul li p {
  margin-bottom: 10px;
}

.bookly-ul li a button {
  padding: 0.5rem 2rem;
  background-color: #377e80;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

.bookly-ul li img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/* got */

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* common css  */
.center {
  text-align: center;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.content-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* custom  */
.got-main-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0;
}

.got-head h1 {
  background-color: #2d6ce1;
  padding: 15px 0;
  color: white;
}

.got-ul {
  list-style: none;
  padding: 0 2rem;
  justify-content: space-between;
}

.got-ul li {
  flex: 0 1 32%;
  margin-bottom: 30px;
  padding: 1.5rem;
  box-shadow: 1px 1px 12px 1px black;
  justify-content: space-between;
}

.got-main-container input {
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 0 1rem 0;
}

.got-card-content img {
  border-radius: 50%;
}

.got-card-content h2 {
  font-size: 20px;
  margin: 0;
}

.got-ul a button {
  background-color: #bfcdf3;
  color: #082cf8;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* home */
.home-ul {
  /* background-color: aliceblue; */
  display: flex;
}

.home-ul li {
  margin: 1rem;
  background-color: #bfcdf3;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.home-ul li:hover {
  background-color: #8e99b7;
}
