* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: #f4f5f9;
}

/* common css  */
.center {
  text-align: center;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.content-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* custom  */
.container {
  max-width: 1200px;
  margin: 25px auto;
  padding: 0;
}

.box {
  border: 2px solid #d6bcfa;
  height: 300px;
  border-radius: 10px;
}

header {
  background-color: #2d6ce1;
  padding: 15px 0;
  color: white;
}

ul {
  list-style: none;
  justify-content: space-between;
}

li {
  flex: 0 1 32%;
  margin-bottom: 30px;
  padding: 1.5rem;
  box-shadow: 1px 1px 12px 1px black;
  justify-content: space-between;
}

input {
  padding: 1rem 2rem;
  width: 100%;
}
img {
  border-radius: 50%;
}

h2 {
  font-size: 20px;
  margin: 0;
}

button {
  background-color: #bfcdf3;
  color: #082cf8;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
